body {
  font-family: sans-serif;
}

.name {
  font-size: 8.4em;
  opacity: 0.05;
  position: absolute;
  top: -42px;
  line-height: 0;
  left: 0;
  z-index: -999;
}

input {
  border: none;
  font-size: 1em;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
}

input:focus {
  outline: none;
}

.task {
  padding: 10px;
  border-top: 1px dashed rgba(0, 0, 0, .1);
}

.task:hover .delete {
  display: block;
}

.task .delete {
  border: none;
  background: rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .5);
  padding: 3px 7px;
  float: right;
  cursor: pointer;
  display: none;
}

.task .delete:hover {
  color: white;
  background: rgba(0, 0, 0, .8);
}

#container {
  width: 70%;
  margin: auto;
  max-width: 700px;
}